<!DOCTYPE html>
<html>
    <head>
        <title>System Distributed</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <link rel="stylesheet" type="text/css" href="../scripts/css/style.css">
    </head>
    <body>
        <div class="content">
            <h2 class="logo">System Distributed v 0.1</h2>
            <hr/>
            <a href="../../index.html">HOME</a> |
            <a href="about.html">ABOUT</a> |
            <a href="contact.html" class="menuSelected">CONTACT</a>
            <hr/>
            <h3 class="title">Contact</h3>    
            <div id="form">
                <h4 class="subtitle">To:</h4><input type="text" name="" value="ztx_development@gmail.com" readonly="readonly" disabled="disabled" size="50%" />
                <h4 class="subtitle">By:</h4><input type="text" name="" value="" size="50%"/>
                <h4 class="subtitle">Content:</h4><textarea name="" rows="4" cols="20" size="50%"></textarea>
            </div>
            <div class="footer">
                <p class="credits">Developed by<a href="" class="developer">Z.T.X</a></p>
            </div>
        </div>
    </body>
</html>
